{% extends 'BloodFighterBase.html' %}

{% block title %}
Profile • Blood Donation
{% endblock %}

{% block Donor %}

        <li>
          <a href="Donor" title="Available Donor" style="box-shadow: 0 4px 8px rgba(112, 130, 180, 0.2); background-color: #87baed;">
            <i class="fas fa-tasks"></i>
            <span class="nav-item">Available Donor</span>
          </a>
        </li>

{% endblock %}


      {% block flash %}

      {% endblock %}


{% block section %}

<div class="course-box">
  <div class="wrapper">
    <div class="right">

      <!-- Profile Information (Table) -->
      <div class="table-box table--two">
        <h3>Profile Information</h3>
        <div class="table-scroll">
          <div class="table-row table-head">
            <div class="table-cell first-cell">Field</div>
            <div class="table-cell">Value</div>
          </div>

          <div class="table-row">
            <div class="table-cell first-cell">Full Name</div>
            <div class="table-cell">{{ user.username }}</div>
          </div>

          <div class="table-row">
            <div class="table-cell first-cell">Email</div>
            <div class="table-cell">{{ blood.email }}</div>
          </div>

          <div class="table-row">
            <div class="table-cell first-cell">Blood Group</div>
            <div class="table-cell">{{ user.bloodgroup }}</div>
          </div>

          <div class="table-row">
            <div class="table-cell first-cell">User Residence</div>
            <div class="table-cell">{{ user.city }}</div>
          </div>

          <div class="table-row">
            <div class="table-cell first-cell">Contact Number</div>
            <div class="table-cell">{{ user.phone }}</div>
          </div>

          <div class="table-row">
            <div class="table-cell first-cell">User ID</div>
            <div class="table-cell">{{ user.id }}</div>
          </div>
        </div>
      </div>

      <!-- Profile Status (Table) -->
      <div class="table-box table--two" style="margin-top:20px;">
        <h3>Profile Status</h3>
        <div class="table-scroll">
          <div class="table-row table-head">
            <div class="table-cell first-cell">Field</div>
            <div class="table-cell">Value</div>
          </div>

          <div class="table-row">
            <div class="table-cell first-cell">User Type</div>
            <div class="table-cell">Blood Requester</div>
          </div>

          <div class="table-row">
            <div class="table-cell first-cell">Hospital</div>
            <div class="table-cell">{{ blood.hospital }}</div>
          </div>
        </div>
      </div>

      <!-- Update Button -->
      <div class="action-row">
        <input type="button" value="Update Information" class="button-30" role="button">
      </div>

    </div>
  </div>
</div>


{% endblock %}