{% extends 'HeroBase.html' %}

{% block title %}
Notification • Blood Donation
{% endblock %}

{% block Notification %}

        <li>
          <a href="Hnotify" title="Notification" style="box-shadow: 0 4px 8px rgba(112, 130, 180, 0.2); background-color: #87baed;">
            <i class="fas fa-info-circle"></i>
            <span class="nav-item">Information</span>
          </a>
        </li>

{% endblock %}


      {% block flash %}
      {% endblock %}


{% block section %}

<div class="course-box">
  <div class="wrapper">
    <div class="right">

      <!-- Profile Information -->
      <div class="info">
        <h3>Notifications</h3>

        <div class="info_data">
          <div class="data">
            <h4>Full Name</h4>
            <p>{{ user.username }}</p>
          </div>


      <!-- Emergency Status -->
      <div class="projects" style="margin-top:20px;">
        <h3>Emergency Status</h3>
        <div class="projects_data">
          <div class="data">
            <h4>Last Blood Donated</h4>
            <p>{{ user.lastdonationdate}}</p>
          </div>
          <div class="data">
            <h4>Weight</h4>
            <p>{{ user.weight }}</p>
          </div>
        </div>
      </div>

      <!-- Update Button -->
      <div class="action-row">
        <input type="button" value="Update Information" class="button-30" role="button">
      </div>

    </div>
  </div>
</div>

{% endblock %}